<!-- wp:template-part {"slug":"header","theme":"elsa","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group">
    
<!-- wp:group {"metadata":{"name":"Content"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide">
    
    <!-- wp:group {"tagName":"article","metadata":{"name":"404"},"layout":{"type":"constrained","justifyContent":"left"}} -->
    <article class="wp-block-group">
        
        <!-- wp:heading {"level":1,"metadata":{"name":"Überschrift"}} -->
        <h1 class="wp-block-heading">404</h1>
        <!-- /wp:heading -->
    
        <!-- wp:paragraph -->
        <p>Nichts gefunden.<br>Vielleicht kann die Suche helfen?</p>
        <!-- /wp:paragraph -->
    
        <!-- wp:search {"label":"Suchen","showLabel":false,"width":400,"widthUnit":"px","buttonText":"Suchen","buttonPosition":"no-button","style":{"typography":{"fontSize":"15px"}},"className":"content-search"} /-->
    
    </article>
    <!-- /wp:group -->

<!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elsa","tagName":"footer","area":"footer"} /-->