<!-- wp:template-part {"slug":"header","theme":"elsa","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group">
    
<!-- wp:group {"metadata":{"name":"Content"},"align":"wide","className":"troets","layout":{"type":"constrained","contentSize":"960px","justifyContent":"left"}} -->
<div class="wp-block-group alignwide troets">
    
    <!-- wp:group {"tagName":"article","metadata":{"name":"Beitrag"},"layout":{"type":"default"}} -->
    <article class="wp-block-group">
        
        <!-- wp:post-title {"level":1,"rel":"bookmark","className":"invisible"} /-->

        <!-- wp:post-content /-->
    
    </article>
    <!-- /wp:group -->

<!-- wp:spacer {"height":"0.6rem","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div style="margin-top:0;margin-bottom:0;height:0.6rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elsa","tagName":"footer","area":"footer"} /-->