<!-- wp:template-part {"slug":"header","theme":"elsa","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group">
    
<!-- wp:group {"metadata":{"name":"Content"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide">
    
    <!-- wp:group {"tagName":"article","metadata":{"name":"Beitrag"},"layout":{"type":"constrained","justifyContent":"left"}} -->
    <article class="wp-block-group">
        
        <!-- wp:post-title {"level":1,"rel":"bookmark"} /-->

        <!-- wp:post-content /-->
    
    </article>
    <!-- /wp:group -->

<!-- wp:spacer {"height":"5rem"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

    <!-- wp:template-part {"slug":"meta","theme":"elsa","tagName":"section"} /-->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"metadata":{"name":"Subscribe"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    
    <!-- wp:shortcode -->
    [podlove-podcast-subscribe-button size="big auto" format="cover" style="filled" color="#75ad91"]
    <!-- /wp:shortcode -->

</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"5rem"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

    <!-- wp:template-part {"slug":"comments","theme":"elsa","tagName":"section"} /-->

<!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elsa","tagName":"footer","area":"footer"} /-->